@import "tailwindcss";

@theme inline {
  --color-logo: #AD974F;
  --hover-color: #8E793E;
};

body {
  background-image: url('/images/background-new.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}